main {
  min-height: 80vh;
}

.post-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.home-image {
  width: 100%;
  object-fit: cover;
}
.button-bg-color {
  background-color: #355886;
}

table td,
table th {
  text-align: center;
}
